<div class="main-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
			<div class="m-form__section m-form__section--first">
				<div class="form-group m-form__group row">
					<div class="col-12">
						<!-- <div class="col-sm-12 col-lg-6 col-xl-6 m--align-right top-sticky">
							<button class="btn btn-primary m-btn">
								{{ 'Submit'  }}
							</button>
						</div> -->
						<div class="row">
							<div class="col-sm-12 col-lg-6 col-xl-6" >
								<label>{{ 'Date of declaration'  }} *</label>
								<input class="form-control m-input" formControlName="name" />
								<span class="form-control-feedback" >
									{{ 'This field is required'  }}
								</span>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-lg-6 col-xl-6" >
								<label>{{ 'Symptoms'  }} *</label>
								<form>
									<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
									<label for="vehicle1"> I have a bike</label><br>
									<input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
									<label for="vehicle2"> I have a car</label><br>
									<input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
									<label for="vehicle3"> I have a boat</label><br><br>
									<!-- <input type="submit" value="Submit"> -->
							  </form>
							</div>
						</div>
						<div class="row m--margin-top-20">
							<div class="col-sm-12 col-lg-6 col-xl-6 m--align-right top-sticky">
								<button class="btn btn-primary m-btn">
									{{ 'Submit' }}
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>