<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Health Records</h4>
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Serial Number
                                    </th>
                                    <th>
                                        NRIC
                                    </th>
                                    <th>
                                        Health Declaration
                                    </th>
                                    <th>
                                        Vaccination Status
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            S1234567A
                                        </td>
                                        <td>
                                            sample text
                                        </td>
                                        <td>
                                            sample text
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            S2345678B
                                        </td>
                                        <td>
                                            sample text
                                        </td>
                                        <td>
                                            sample text
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            S3456789C
                                        </td>
                                        <td>
                                            sample text
                                        </td>
                                        <td>
                                            sample text
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            S4567890D
                                        </td>
                                        <td>
                                            sample text
                                        </td>
                                        <td>
                                            sample text
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>