<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Record Logging</h4>
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Record ID
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                    <th>
                                        Table Affected
                                    </th>
                                    <th>
                                        Date and Time
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let l of logs; let i = index;">
                                        <td>
                                            {{ i + 1 }}
                                        </td>
                                        <td>
                                            {{ l.action_made }}
                                        </td>
                                        <td>
                                            {{ l.table_affected }}
                                        </td>
                                        <td>
                                            {{ l.date_time }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>