<div class="main-content">
    <ul>
        <li>Slow down. 
            Spammers want you to act first and think later. If the message conveys a sense of urgency; never let their urgency influence your careful review.</li>
            <br>
            <li>Research the facts. 
                Be suspicious of any unsolicited messages. If the email looks like it is from us, do your own research. Use a search engine verify our contact details.</li> 
            <br>
            <li>Don’t let a link be in control of where you land. 
            Hovering over links in email will show the actual URL at the bottom, but a good fake can still steer you wrong.</li>
            <br>
            <li>Delete any request for financial information or passwords. 
            If you get asked to reply to a message with personal information, it’s a scam.</li>
    </ul>
    <br>
    <div class="row">
        <div class="column geeks">
          <img src="../../assets/img/news/Bulletin1.jpg" alt="Bulletin 1" style="width:100%">
        </div>
        <div class="column geeks">
          <img src="../../assets/img/news/Bulletin2.jpg" alt="Bulletin 2" style="width:100%">
        </div>
        <div class="column geeks">
          <img src="../../assets/img/news/Bulletin3.jpg" alt="Bulletin 3" style="width:100%">
        </div>
        <div class="column geeks">
          <img src="../../assets/img/news/Bulletin4.jpg" alt="Bulletin 4" style="width:100%">
        </div>
    </div>
    <div class="row">
        <div class="column geeks">
          <img src="../../assets/img/news/Bulletin5.jpg" alt="Bulletin 5" style="width:100%">
        </div>
        <div class="column geeks">
          <img src="../../assets/img/news/Bulletin6.jpg" alt="Bulletin 6" style="width:100%">
        </div>
    </div>
</div>
