.column {
    float: left;
    width: 25%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .geeks {
    overflow: hidden;
    margin: 0 auto;
}
   
.geeks img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}
   
.geeks:hover img {
    transform: scale(1.5);
}