<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Test History</h4>
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Serial Number
                                    </th>
                                    <th>
                                        Test Result
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let h of history">
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            {{ (h.test_result === 1 || h.test_result === "1")? "Positive": "Negative" }}
                                        </td>
                                        <td>
                                            {{ h.test_date }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>