<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">My Record</h4>
                      <!-- <p class="card-category">Complete your profile</p> -->
                  </div>
                  <div class="card-body">
                      <form>
                          <!-- <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Company (disabled)" disabled>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Username">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email address" type="email">
                                  </mat-form-field>
                              </div>
                          </div> -->
                          <div class="row">
                              <div class="col-md-6">
                                <label>Full Name</label>
                                <mat-form-field class="example-full-width">
                                  <!-- <label>Full Name</label> -->
                                  <input matInput placeholder="{{ record.name }}" disabled>
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <label>Age</label>
                                <mat-form-field class="example-full-width">
                                  <!-- <label>Full Name</label> -->
                                  <input matInput placeholder="{{ record.age }}" disabled>
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <label>Contact Number</label>
                              <mat-form-field class="example-full-width">
                                <!-- <label>Full Name</label> -->
                                <input matInput placeholder="{{ record.number }}" disabled>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <label>Date of Birth</label>
                              <mat-form-field class="example-full-width">
                                <!-- <label>Full Name</label> -->
                                <input matInput placeholder="{{ record.birth }}" disabled>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <label>Race</label>
                              <mat-form-field class="example-full-width">
                                <!-- <label>Full Name</label> -->
                                <input matInput placeholder="{{ record.race }}" disabled>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <label>Address</label>
                              <mat-form-field class="example-full-width">
                                <!-- <label>Full Name</label> -->
                                <input matInput placeholder="{{ record.address }}" disabled>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <label>Vaccination Status</label>
                              <mat-form-field class="example-full-width">
                                <!-- <label>Full Name</label> -->
                                <input style="color: green;" matInput placeholder="Completed" disabled>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <label>Address</label>
                              <mat-form-field class="example-full-width">
                                <!-- <label>Full Name</label> -->
                                <input style="color: green;" matInput placeholder="Completed (21/09/2021)" disabled>
                              </mat-form-field>
                            </div>
                          </div>
                          <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                          <div class="clearfix"></div> -->
                      </form>
                  </div>
              </div>
          </div>
          <!-- <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div> -->
      </div>
  </div>
</div>
